.icon-register{
  font-size: 10em;
  color: rgba($color-2, 0.5);
}

.icon-register:hover{
  color: $color-2;
}

.locomotion-icon{
  font-size: 5em;
}



/* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + i {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + i {
  color: $color-1;
}

