nav ul{
    display: flex;
}
nav li{
    list-style-type: none;
    
}
nav li a{
    color: black;
}
.head_log{
    background-color: hsla(188, 84%, 13%, 0.87);
}
.leader{
    background-color: hsla(8, 84%, 48%, 0.76);
}
.divider{
    margin-top:30px;
    margin-bottom:30px;
    border-bottom: 1px solid grey;
}

/* Footer */
/* footer{
    background-color:hsla(8, 84%, 48%, 0.76);
}
.social_network{
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 15px;
}
footer ul{
    list-style-type: none;
    padding-left: 0!important;
}
footer li a{
    color:black;
}
footer li a:hover{
    color:white;
}
i{
    color:black;
} */