nav ul{
    display: flex;
}
nav li{
    list-style-type: none;

}
nav li a{
    color: black;
}
.head_log{
    background-color:  #18EEAC;
}
.leader{
    background-color: #EEAC18;
}

/* page infos style */

.divider{
    margin-top:30px;
    margin-bottom:30px;
    border-bottom: 1px solid grey;
}

.faqHeader {
    font-size: 27px;
    margin: 20px;
}

.panel-heading [data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "\e072"; /* "play" icon */
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #454444;
}



/* Footer */
/* footer{
    background-color:hsla(8, 84%, 48%, 0.76);
}
.social_network{
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 15px;
}
footer ul{
    list-style-type: none;
    padding-left: 0!important;
}
footer li a{
    color:black;
}
footer li a:hover{
    color:white;
}
i{
    color:black;
} */
